.products{
    padding: 80px 40px;
display: block;
.category{
    padding-bottom: 64px;
}
.opis {
    padding-top: 15x;
}

.swiper{
    flex-wrap: nowrap;
.swiperSlider{
    max-width: 350px!important;
    width: 100%;
    margin-right: 40px!important;
}
}
}